
.mnm
{
        margin: 0px;
        padding: 0px
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.5);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.logo {
  display: block;
  vertical-align: top;
  width: 80px;
  height: 80px;
  float: right;
}  

  
    .navigation-container
    {
      float: right;
      width: 150px;
      height:auto;
    
    }
    .notheader{
      background:auto  ;
      height: 100vh;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: sans-serif;
    
    }
    .video-background{
      position: absolute;
      right: 0px;
      bottom: 0px;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -1;
    
    }
    
    .NAbutton
    {
      height: 50px;
      width: 750px;
      color:#000;
      background-color:  rgba(247, 212, 18, 0.822);
      border: none;
    margin-bottom: 60px;
    font: size 100px;
    letter-spacing: 2px;
    text-align: center;
    border-radius: 25px;
    padding: 12px;
    }
    .search-btn:hover {
      background-color:  rgba(247, 212, 18, 0.822);
    }  
    .form-box {
      background:rgba(0, 0, 0, 0.5);
      padding: 30px;
    }
    
    .search-field{
    height: 30px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none; 
    } 
    .fixing-date {
      height: 30px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
    }
    
    .search-btn {
      height: 50px;
      width: 150px;
      background: #ffeb3b94;
      border: none;
      color:#000;
      border-radius: 25px;
    
    }
    
    
    @media (min-aspect-ratio:16/9)
    {
      .video-background
      {
        width: 100%;
        height: auto;
    
      }
    
    }
    @media (max-aspect-ratio:16/9)
    {
      .video-background
      {
        width: 100%;
        height: auto;
        
      }
    
    }
    .modal {
      display: none; 
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
    }
    
  
    .modal-content {
      background-color: #fefefe;
      margin: 15% auto; 
      padding: 20px;
      border: 1px solid #888;
      width: 80%; 
    }
    
    
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }